[submodule "modulo2_Front_End/bloco-14-testes-automatizados-com-react-testing-library/dia-3-rtl-testando-react-router/modulo2_Front_End/bloco-14-testes-automatizados-com-react-testing-library/dia-3-rtl-testando-react-router/exercise-portfolio-web"]
	path = modulo2_Front_End/bloco-14-testes-automatizados-com-react-testing-library/dia-3-rtl-testando-react-router/modulo2_Front_End/bloco-14-testes-automatizados-com-react-testing-library/dia-3-rtl-testando-react-router/exercise-portfolio-web
	url = git@github.com:Igormcf/exercise-portfolio-web.git
