.header{
    display: inline-block;
}

.nav-links{
    display: inline-block;
    margin-left: 200px;
}

.menu li{
    display: inline-block;
    margin-right: 100px;
    text-align: center;
}

.artigo{
    width: 800px;
}