div:hover{
    border: 2px solid yellow;
}

div:nth-of-type(1){
    color: brown;
    font-size: 40px;
}

div:nth-of-type(2){
    color: violet;
    font-style: italic;
}

div:nth-of-type(3){
    color: royalblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 200px;
}

div:nth-of-type(4){
    color: darkgreen;
    font-size: 10px;
}

div:nth-of-type(5){
    color: deeppink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div:nth-child(odd) h3{
    font-style: italic;
}