body{
    font-size: 16px;
    text-align: center;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-decoration: underline;
}

#modificar-cor{
    background-color: grey;
}

.alteracao-de-cor{
    background-color: ;
}

p{
font-weight: 600;
font-size: 3em;
font-style: oblique;
line-height: 10px;
}

#y{
 background-color: yellow;
 color: black;
}

#r{
 background-color: red;
 color: black;
}

#b{
 background-color: brown;
 color: black;
}